<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongpo.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.dongpo.domain.Manager" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status"/>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dongpo.domain.Manager" >
    insert into manager (id, username, password,status
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      ,#{status})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dongpo.domain.Manager" >
    update manager
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, username, password,status
    from manager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password,status
    from manager
    where 1=1
    <if test="key != null and key != ''">
      and username like concat('%',#{key},'%')
    </if>
  </select>

    <select id="getManageByName" resultType="com.dongpo.domain.Manager">
      select * from manager where username = #{username}
    </select>
</mapper>